/**
 * Created by FIQC on 10/07/2017.
 */
@import url("fonts/baron neue.woff");
@import url("fonts/BebasNeue.woff");
@import url('https://fonts.googleapis.com/css?family=Roboto');





.fein a {
    text-decoration: none;
}

.wip {
    font-family: 'Slabo 27px', serif;
    font-size: 2.4em;
    text-align: center;
    letter-spacing: -3px;
}

.button {
    margin: 10px auto 0;
    width: 200px;
    height: 50px;
    background: #37B06D;
    overflow: hidden;
    text-align: center;
    transition: .2s;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Baron Neue';
}



.clic {
    color: white;
    transition: .3s;
}




.sure {
    margin-top: 37px;
    margin-right: -135px;
    color: white;
    transform: rotate(-20deg);
}

.button:active {
    box-shadow: 2px 2px 1px #888888;
}

.button2 {
    margin: 65px auto 0;
    width: 200px;
    height: 50px;
    background: #00bcac;
    overflow: hidden;
    text-align: center;
    transition: .2s;
    cursor: pointer;
    border-radius: 50px;
    padding: 11px !important;
    border: none;
    font-family: 'Baron Neue';
    font-size: 20px;
    color: #fff;
}




.hoveur {
    background: linear-gradient(rgba(255, 255, 255, 255), rgba(204, 204, 204, 204));
    width: 200px;
    height: 50px;
    margin-top: -30px;
    transform: rotate(40deg);
    margin-left: -180px;
    opacity: 0.3;
    transition: .5s;

}

.button2:hover .hoveur {
    margin-left: 180px;
    border: none !important;

}

.button3 {
    margin: 10px auto 0;
    width: 200px;
    height: 50px;
    background: #EFC332;
    overflow: hidden;
    text-align: center;
    transition: .2s;
    cursor: pointer;
    transition-delay: .3s;
}

.hauver {
    background-color: transparent;
    height: 50px;
    width: 200px;
    margin-top: -50px;
    text-align: center;
    margin-left: -200px;
    transition: margin-left 0.3s, background-color 0.5s 0.3s;
}

p.blanc {
    text-align: center;
    color: white;
    padding-top: 15px;
}

.button3:hover .hauver {
    margin-left: 0;
    background-color: #DF432F;
}
@media only screen and (min-width: 1300px) and (max-width: 1599px) {
    .button2 {
        width: 160px;
        height: 42px;
        font-size: 17px;
        padding: 9px !important;
    }
}