/**
 * Created by Vinny on 19/07/2017.
 */
@import url("fonts/baron neue.woff");
@import url("fonts/BebasNeue.woff");
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #fdfdfd;
}

.spm {
    font-family: "Baron Neue" !important;
    font-size: 16px;
    color: #333 !important;
    position: relative;
    top: 0;
}

#barra1 {

    background: #00BCAC;
    width: 0.2vw;
    height: 15vh;
    position: relative;
    top: 3vh;
}

#barra2 {

    background: #00BCAC;
    width: 0.2vw;
    height: 15vh;
    position: relative;
    top: 3vh;
}

#barra3 {

    background: #00BCAC;
    width: 0.2vw;
    height: 15vh;
    position: relative;
    top: 3vh;
}

#clock {
    background: url(../img/bg/bg-clock.jpg) no-repeat fixed center;
    background-size: cover;
    width: 100%;
    height: 56vh;
    position: absolute;
    top: 104vh;
}

#counter {
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 8vh;
    display: block;
    color: #282828;
    z-index: 100;
    margin-left: 23%;
    margin-right: 21%;
    position: absolute;
}

.proxima {
    font-family: "Baron Neue" !important;
    color: #282828;
    font-size: 1.6em;
    position: relative;
    top: 5vh;
}

.data {
    font-family: "Baron Neue" !important;
    color: #00bcac;
    font-size: 2.6em;
    position: relative;
    top: 5vh;

}

.alertclock {
    font-family: "Baron Neue" !important;
    color: #333;
    font-size: 1.6em;
    top: 26vh;
    position: relative;
    letter-spacing: 5.8px;
    left: -90px;
}
.alertclock2 {
    font-family: "Baron Neue" !important;
    color: #333;
    font-size: 1.6em;
    top: 26vh;
    position: relative;
    letter-spacing: 5.8px;
    left: -2px;
}
.alertclock3 {
    font-family: "Baron Neue" !important;
    color: #333;
    font-size: 1.6em;
    top: 26vh;
    position: relative;
    letter-spacing: 5.8px;
    left: 60px;
}
.alertclock4 {
    font-family: "Baron Neue" !important;
    color: #333;
    font-size: 1.6em;
    top: 26vh;
    position: relative;
    letter-spacing: 5.8px;
    left: 100px;
}

#counter div, #counter i {
    display: inline-block;
    vertical-align: middle;
}

#counter div {
    font-family: "Baron Neue" !important;
    text-align: center;
    text-rendering: optimizeLegibility;
    position: relative;
    color: #ff5364;

}

#counter div.days {
    margin-right: 5px;
}

#counter div.days:before {
    content: "";
    position: absolute !important;
    top: 70px !important;
    left: -90px !important;
    font-size: 30px !important;
    color: #333333 !important;
}

#counter div.hours:before {
    content: "";
    position: absolute !important;
    top: 70px !important;
    left: -165px !important;
    font-size: 30px !important;
    color: #333333 !important;
}

#counter div.minutes:before {
    content: "";
    position: absolute !important;
    top: 70px !important;
    left: -165px !important;
    font-size: 30px !important;
    color: #333333 !important;
}

#counter div.seconds:before {
    content: "";
    position: absolute !important;
    top: 70px !important;
    left: -195px !important;
    font-size: 30px !important;
    color: #333333 !important;
}

#counter span:before {
    top: -20px;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    color: black;
    font-size: 0.50em;
    text-shadow: none;
}

.red-tempo {
    font-family: "Baron Neue" !important;
    background: #f6e52b;
    border: #cbba2a solid 2px;
    color: #0f3944 !important;
    width: 360px;
    height: 5vh;
    font-size: 1.0em;
    position: relative;
    top: 40vh;
}

.hours {
    display: flex;
    flex-direction: column;
}

/**
 * @media da fonte do clock.
 */

@media only screen and (min-width: 1900px) and (max-width: 2200px) {
    #counter {
        font-size: 200px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
    #counter {
        font-size: 160px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1599px) {
    #counter {
        font-size: 130px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    #counter {
        font-size: 100px;
    }
}

@media only screen and (max-width: 767px) {
    #counter {
        font-size: 70px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #counter {
        font-size: 50px;
    }
}

@media only screen and (max-width: 479px) {
    #counter {
        font-size: 35px;
    }
}

